h1{
    background-color: #eb9b34;
    width:100%;
    text-align: center;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#text-input{
    height: 30px;
    width:300px;
    margin-bottom: 10px;
    border:3px solid black;
    font-size: large;
}

#check-btn{
    background-color: #3486eb;
    height:30px;
    width:70px;
    font-size: large;
    
    cursor:pointer;
}

button:active{
    background-color: aqua;
}

button:hover{
    border:2px solid orangered;
}